
.enhavo {
	width: 600px;
	height: 300px;
}

.malgranda {
	font-size: small;
}

.griza {
	color: #888;
}

.oblikva {
	font-style: oblique;
}

.centro {
	text-align: center;
}

.juliamo {
	font-family: juliamo;
}

@font-face {
  font-family: 'juliamo';
  src: url('https://dl.dropboxusercontent.com/s/5me44aeb19mxm6e/juliamo.woff') format('woff');
}